.Footer_link__TBOP7 {
    display: block;
    text-decoration: none;
    color: #aaa;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px
}

.Footer_link__TBOP7:hover {
    color: #fff
}

.Footer_containImg__aRm0K {
    width: 100%;
    height: auto
}

@media(min-width:466px) {
    .Footer_link__TBOP7 {
        font-size: 17px
    }
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
    transition: all .25s ease-in;
    opacity: .4;
    filter: alpha(opacity=40);
    position: absolute;
    z-index: 2;
    top: 20px;
    background: 0 0;
    border: 0;
    font-size: 32px;
    cursor: pointer
}

.carousel .control-arrow:focus,
.carousel .control-arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
    margin: 0 5px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: ""
}

.carousel .control-disabled.control-arrow {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: inherit;
    display: none
}

.carousel .control-prev.control-arrow {
    left: 0
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #fff
}

.carousel .control-next.control-arrow {
    right: 0
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid #fff
}

.carousel-root {
    outline: none
}

.carousel {
    position: relative;
    width: 100%
}

.carousel * {
    box-sizing: border-box
}

.carousel img {
    width: 100%;
    display: inline-block;
    pointer-events: none
}

.carousel .carousel {
    position: relative
}

.carousel .control-arrow {
    outline: 0;
    border: 0;
    background: 0 0;
    top: 50%;
    margin-top: -13px;
    font-size: 18px
}

.carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden
}

.carousel .thumbs {
    transition: all .15s ease-in;
    transform: translateZ(0);
    position: relative;
    list-style: none;
    white-space: nowrap
}

.carousel .thumb {
    transition: border .15s ease-in;
    display: inline-block;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    border: 3px solid #fff;
    padding: 2px
}

.carousel .thumb:focus {
    border: 3px solid #ccc;
    outline: none
}

.carousel .thumb.selected,
.carousel .thumb:hover {
    border: 3px solid #333
}

.carousel .thumb img {
    vertical-align: top
}

.carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden
}

.carousel.carousel-slider .control-arrow {
    top: 0;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    padding: 5px
}

.carousel.carousel-slider .control-arrow:hover {
    background: rgba(0, 0, 0, .2)
}

.carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    transition: height .15s ease-in
}

.carousel .slider-wrapper.axis-horizontal .slider {
    -ms-box-orient: horizontal;
    display: -moz-flex;
    display: flex
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
    flex-direction: column;
    flex-flow: column
}

.carousel .slider-wrapper.axis-vertical {
    -ms-box-orient: horizontal;
    display: -moz-flex;
    display: flex
}

.carousel .slider-wrapper.axis-vertical .slider {
    flex-direction: column
}

.carousel .slider {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%
}

.carousel .slider.animated {
    transition: all .35s ease-in-out
}

.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center
}

.carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0
}

.carousel .slide iframe {
    display: inline-block;
    width: calc(100% - 80px);
    margin: 0 40px 40px;
    border: 0
}

.carousel .slide .legend {
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: .25;
    transition: opacity .35s ease-in-out
}

.carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1
}

@media(min-width:960px) {
    .carousel .control-dots {
        bottom: 0
    }
}

.carousel .control-dots .dot {
    transition: opacity .25s ease-in;
    opacity: .3;
    filter: alpha(opacity=30);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
    background: #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.carousel .carousel-status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
    color: #fff
}

.carousel:hover .slide .legend {
    opacity: 1
}

.Button_linkButton__qMJ8M {
    text-decoration: none
}

.LatestNews_newsWrapper__lK1AL {
    display: grid;
    grid-template-columns: 220px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    justify-content: center
}

.LatestNews_newsPod__YDMrG {
    position: relative;
    height: 202px;
    width: 220px;
    text-decoration: none;
    transition: all .2s ease
}

.LatestNews_newsPod__YDMrG:hover {
    transform: scale(1.02)
}

.LatestNews_img__dpGYc {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
    left: 0
}

.LatestNews_newsPod__YDMrG:hover .LatestNews_img__dpGYc {
    opacity: 1
}

.LatestNews_textWrapper__vuA__ {
    padding: 60px 20px 20px
}

.LatestNews_description__eedlt {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    padding-top: 6px
}

.LatestNews_header__siAfq {
    color: #000;
    text-decoration: none;
    opacity: .6;
    position: relative
}

@media(min-width:486px) {
    .LatestNews_newsWrapper__lK1AL {
        grid-template-columns: repeat(2, 220px);
        grid-template-rows: 1fr 1fr
    }
}

@media(min-width:992px) {
    .LatestNews_newsWrapper__lK1AL {
        grid-template-columns: repeat(4, 220px);
        grid-template-rows: 1fr
    }
}

.Home_checkoutBar__0hgxP {
    background: #474dff;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 30px;
    position: relative;
    left: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(90.06deg, #8816e3 10.06%, #d5149f 92.17%)
}

.Home_checkoutBar__0hgxP:hover {
    background: #476fff;
    cursor: pointer;
    background: linear-gradient(90.06deg, #6709b1 10.06%, #9c0672 92.17%)
}

.Home_checkoutBar__0hgxP .Home_arrow__ZL6jO {
    opacity: .4;
    display: inline-block
}

.Home_checkoutBar__0hgxP:hover .Home_arrow__ZL6jO {
    opacity: 1
}

.Home_quoteLogo__moBAY {
    margin-bottom: 20px;
    margin-top: 50px;
    width: auto !important
}

.Home_containImg__jdnhe {
    width: 100%;
    height: auto
}

.Home_blackLogo__ExW3m {
    margin: 15px
}

@media(min-width:769px) {
    .Home_blackLogo__ExW3m {
        margin: 30px
    }
}

.CollapsibleTrigger_downDownArrow__L0bbq {
    margin-left: 6px
}

.ResponsiveNav_openTrigger__oETld {
    background: 0 0;
    position: absolute;
    border: none;
    top: 0;
    right: 20px
}

.ResponsiveNav_menubar__BJ189 {
    position: relative;
    top: 18px
}

.ResponsiveNav_closeTriggerWrapper__mQCwI {
    display: flex;
    justify-content: flex-end
}

.ResponsiveNav_closeTrigger__5hYOC {
    display: inline-block;
    background: #000;
    border: none;
    position: relative;
    box-sizing: border-box;
    padding: 20px 20px 10px
}

.ResponsiveNav_topLevelLink__rJspD {
    background: #000;
    display: block;
    text-align: left;
    color: #fff;
    padding-left: 15px;
    padding-bottom: 5px;
    font-size: 23px;
    font-weight: 400
}

.ResponsiveNav_accordionButton__tc34d {
    outline: none;
    display: flex;
    justify-content: space-between
}

.ResponsiveNav_accordionButtonWrapper__OSUA9 {
    background: #000;
    padding: 10px 5px 5px 15px;
    font-weight: 400;
    font-size: 23px;
    text-align: left;
    width: 100%;
    display: block;
    box-sizing: border-box;
    position: relative
}

.ResponsiveNav_accordionItem__xL7Tt {
    position: relative;
    background: #000;
    color: #fff;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 30px
}

.ResponsiveNav_link__ULCsE {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 10px 0 0;
    color: #bbb;
    font-weight: 300;
    font-size: 20px
}

.ResponsiveNav_responsiveNav__YR6uE .menu {
    position: absolute;
    right: 0;
    width: 100vw;
    height: auto;
    max-height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
    z-index: 9999;
    padding-bottom: 50px;
    overflow-x: hidden
}

.ResponsiveNav_responsiveNav__YR6uE.ResponsiveNav_inverse__v6paG .menu {
    background: #000;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.ResponsiveNav_responsiveNav__YR6uE.ResponsiveNav_inverse__v6paG .menu::-webkit-scrollbar {
    display: none
}

.Nav_navLink__hEMRR {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 12px;
    transition: color .1s linear 0s;
    position: relative;
    line-height: 50px;
    cursor: pointer
}

.Nav_navLink__hEMRR:last-child {
    padding-right: 0
}

.Nav_accordionItem__AK9kt {
    display: inline-block;
    margin: 0 12px
}

.Nav_linkGroupTrigger__914Ap {
    outline: none;
    display: flex;
    justify-content: space-between
}

.Nav_linkGroupTriggerText__sdSzl {
    font-weight: 500;
    cursor: pointer
}

.Nav_arrowIcon__vH7_x {
    position: relative;
    top: -1px;
    margin-left: 5px
}

.Nav_linkGroup__51F7p {
    position: absolute;
    text-decoration: none;
    font-weight: 400;
    color: #1d1d1d;
    margin-bottom: 10px;
    margin-top: 22px;
    min-width: 10rem;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .133), 0 .6px 2px rgba(0, 0, 0, .1)
}

.Nav_linkGroupItem__FyAtl {
    text-align: left;
    padding: 10px 1.5rem 12px;
    margin: 10px 0
}

.Nav_linkGroupItem__FyAtl:focus,
.Nav_linkGroupItem__FyAtl:hover {
    background-color: #ebebeb
}

.Nav_linkGroupItem__FyAtl:first-of-type {
    padding-top: 18px
}

.Nav_linkGroupItem__FyAtl:last-of-type {
    padding-bottom: 22px
}

.Nav_linkGroupLink__4BJIR {
    text-decoration: none
}

.Nav_linkGroupTitle__XNxak {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 6px
}

.Nav_linkGroupSubtitle__2QOT0 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    color: #7f7f7f
}